
/*** BODY BG ***/
$bg-color:#fafafa;


/*** SIDE/MAIN NAV ***/
$bg-navbar-inverse:#5F6A7D;
$navbar-inverse-txt-color:#fff;
$hover-bg:rgba(74,204,153,1);


/*** TOP BAR ***/
$bg-navbar-default:#fff;
$material-icons-color:rgba(0,0,0,0.3);



